:root {
 background-color: #EBEBEB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003508;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li {
    float: left;
  }

  li a:hover {
    background-color: #001300;
  }

  .circle1 {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }

  .Assets {
    padding-top: 60px;
    display: inline-block;
  }

  .hexcodes .red {
    margin-left: -55%;
  }

  .green {
    margin-left: -33%;
    margin-top: -6%;
  }

  .darkgrey {
    margin-left: -11%;
    margin-top: -6%;
  }

  .blue {
    margin-left: 11%;
    margin-top: -6%;
  }

  .yellow {
    margin-left: 33%;
    margin-top: -6%;
  }

  .lightgrey {
    margin-left: 55%;
    margin-top: -6%;
    margin-bottom: 5%;
  }

  .results {
    text-align: center;
    padding-top: 6%;
  }

  .variations {
    text-align: center;
  }

  .firstpic {
    padding-top: 5%;
  }

  .fourpics {
    padding-top: 5%;
  }

  .threepics {
    padding-top: 5%;
  }

  .singlepic {
    padding-top: 5%;
  }

  .paletterationale {
    text-align: center;
    padding-bottom: 30px;
  }

  .fcl {
    text-align: center;
  }

  .bwl {
    text-align: center;
  }

  .gl {
    text-align: center;
  }

  .ml {
    text-align: center;
  }

  .hvfcl {
    text-align: center;
  }

  .vsfcl {
    text-align: center;
  }

  .fv {
    text-align: center;
  }

  .Vdescription {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .textSizes {
    text-align: center;
    padding-top: 3%;
    font-family: 'Righteous';
  }

  .fontRationale {
    text-align: center;
    padding-bottom: 5%;
  }

  .typoTitle {
    text-align: center;
  }

  .footer {
    text-align: center;
    background-color: #023a00;
    color: white;
    padding: 0.5px;
  }

  .graphicsTitle {
    text-align: center;
    padding-top: 3%;
  }

  .firstIcons {
    text-align: center;
  }

  .secondIcons {
    text-align: center;
    padding-top: 3%;
  }

  .thirdIcons {
    text-align: center;
    padding-top: 3%;
  }

  .rightSide {
    margin-top: -77px;
    float: right;
  }

  .leftSide {
    margin-top: -78px;
  }

  .fourthIcons {
    text-align: center;
    padding-top: 3%;
  }

  .fifthIcons {
    text-align: center;
    padding-top: 3%;
  }

  .sixthIcons {
    text-align: center;
    padding-top: 3%;
  }

  .seventhIcons {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .mascot {
    text-align: center;
    padding-top: 3%;
  }

  .logoReferences {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .referencesTitle {
    text-align: center;
  }

  .coloursReference {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .foodBarImage {
    padding-bottom: 3%;
  }

  .typographyReference {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .iconographyReference {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }